.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 99;
}

.name {
	padding: 20px 30px;
	font-size: 20px;
	line-height: 1.2;
}

.buttonWrapper {
	display: flex;
	padding-right: 20px;

	> a {
		padding: 20px 15px;
	}
}