
@use '../../styles/variables' as *;

.skill {
	position: relative;
	overflow: hidden;
	background: linear-gradient(180deg, #fef2da 0%, #ffcd7d 100%);
	padding-bottom: calc(2 * $orangeImgH - $orangePositionBottom);
}

.title {
	position: relative;
}

.inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 60px;
	gap: 60px;
}

.item {
	display: flex;
	width: calc(50%	- 30px);
	gap: 30px;
}

.chart {
	position: relative;
	width: 130px;
	height: 130px;

	> p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, calc(-50% + 6px));
		font-size: 30px;
		font-weight: bold;
		font-family: var(--font-roboto);
	}
}

.text {
	padding-top: 10px;
	text-align: left;
}

.name {
	font-size: 16px;
}

.description {
	margin-top: 10px;
}

.note {
	margin-top: 10px;
	font-size: 14px;
}

.bubble {
	position: absolute;
	bottom: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
	animation: rise linear infinite;
	pointer-events: none;
}

@keyframes rise {
	0%   { transform: translateX(0);     bottom: 0;}
	30%  { transform: translateX(14px);  bottom: 30%;}
	55%  { transform: translateX(-12px); bottom: 55%;}
	75%  { transform: translateX(9px);   bottom: 75%;}
	100% { transform: translateX(-6px);  bottom: 100%;}
}

@media screen and (max-width: 600px) {
}
