.work {
	color: #fff;
	background-color: #ffad78;
}

.list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 60px;
	gap: 60px;
	margin-top: 60px;

	li {
		width: calc(50% - 30px);
	}
}

.item {
	text-align: left;
	list-style: none;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 13px;
	overflow: hidden;
}

.name {
	margin-top: 15px;
	font-size: 16px;
	font-weight: bold;

	a {
		display: inline-flex;
		align-items: center;
		gap: 3px;
		color: inherit;

		svg {
			position: relative;
			top: 1px;
		}
	}
}

.description {
	margin-top: 10px;
}

.skill {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 16px;
}

.skillItem {
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 10px;
	background-color: #ff865b;
	font-weight: 500;
	line-height: 1;
	user-select: none;
}