.work {
	position: relative;
	background-color: #fbb58a;
	padding-top: 70px;
}

.title {
	color: #fff;
}

.waveWrapper {
	position: absolute;
	left: 0;
	bottom: calc(100% - 20px);
	width: 100%;
	height: 14vw;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 139.42'%3E%3Cpath fill='%23fbb58a' d='M1600,62.42C1298.424,62.42,1167.612-.3,778.667,0,390.788,0,280.242,62.42,0,62.42v77H1600Z'/%3E%3C/svg%3E");
	background-size: 160vw 14vw;
	background-repeat: repeat-x;
	background-position: 0 bottom;
	animation: waveScroll 7s linear infinite;
}

@keyframes waveScroll {
	from { background-position: 0 bottom; }
	to { background-position: 160vw bottom; }
}
