.work {
	color: #fff;
	background-color: #ffad78;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	max-width: 980px;
	margin: 60px auto 0;
	padding: 0 60px;

	li {
		width: calc(50% - 30px);
	}
}

.item {
	text-align: left;
	list-style: none;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 13px;
	overflow: hidden;

	&:hover {
		opacity: .999;
	}
}

.name {
	font-size: 16px;
	font-weight: bold;

	a {
		display: inline-flex;
		align-items: center;
		gap: 3px;
		padding: 15px 15px 10px 0;
		color: inherit;

		svg {
			position: relative;
			top: 1px;
		}
	}
}

.skill {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 16px;
}

.skillItem {
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 10px;
	background-color: #ff8c42;
	font-weight: 500;
	line-height: 1;
	user-select: none;
}

@media screen and (max-width: 600px) {
	.list {
		gap: 15vw 0;
		margin: 0 auto;
		padding: 0 20px;

		li {
			width: 100%;
		}
	}
}